<?xml version="1.0" encoding="utf-8"?>
<packages>
  {% if cookiecutter.host_arch == 'ARM64' %}
  <package id="pythonarm64" version="{{ cookiecutter.python_version|nuget_version }}" targetFramework="native" />
  {% else %}
  <package id="python" version="{{ cookiecutter.python_version|nuget_version }}" targetFramework="native" />
  {% endif %}
</packages>
